<table class="table">
  <tbody>
    <tr>
      <td>Manufacturer</td>
      <td>{{ product.manufacturer }}</td>
    </tr>
    <tr>
      <td>Using natural gas</td>
      <td>{{ product.fuel_type1 }}</td>
    </tr>
    <tr>
      <td>Using diesel</td>
      <td>{{ product.fuel_type2 }}</td>
    </tr>
    <tr>
      <td>Using oil</td>
      <td>{{ product.fuel_type3 }}</td>
    <tr>
      <td>Max permissible operating pressure, bar</td>
      <td>{{ product.max_pressure }}</td>
    </tr>
    <tr>
      <td>Count of gas passes</td>
      <td>{{ product.gas_passes_count }}</td>
    </tr>
    <tr>
      <td>Heat power (input), kW</td>
      <td>{{ product.heat_input }}</td>
    </tr>
    <tr>
      <td>Heat power (output), kW</td>
      <td>{{ product.heat_output }}</td>
    </tr>
    <tr>
      <td>Hidraulic resistance, mbar</td>
      <td>{{ product.water_press_loss }}</td>
    </tr>
    <tr>
      <td>Aerodynamic resistance, mbar</td>
      <td>{{ product.flue_gas_press_loss }}</td>
    </tr>
    <tr>
      <td>Weight, kgs</td>
      <td>{{ product.weight }}</td>
    </tr>
    <tr>
      <td>Outlet water tube diameter, mms</td>
      <td>{{ product.outlet_diameter}}</td>
    </tr>
    <tr>
      <td>Inlet water tube diameter, mms</td>
      <td>{{ product.inlet_diameter}}</td>
    </tr>
  </tbody>
</table>
