<table class="table">
  <tbody>
    <tr>
      <td>Manufacturer</td>
      <td>{{ product.manufacturer }}</td>
    </tr>
    <tr>
      <td>Using natural gas</td>
      <td>{{ product.fuel_type1 }}</td>
    </tr>
    <tr>
      <td>Using diesel</td>
      <td>{{ product.fuel_type2 }}</td>
    </tr>
    <tr>
      <td>Using oil</td>
      <td>{{ product.fuel_type3 }}</td>
    </tr>
    <tr>
      <td>Modulation available</td>
      <td>{{ product.ismodulated }}</td>
    </tr>
    <tr>
      <td>Operation gas pressure, bar</td>
      <td>{{ product.gas_pressure }}</td>
    </tr>
    <tr>
      <td>Heat power (output), kW</td>
      <td>{{ product.heat_output }}</td>
    <tr>
      <td>Weight, kgs</td>
      <td>{{ product.weight }}</td>
    </tr>
    <tr>
      <td>Power, kW</td>
      <td>{{ product.electro_power}}</td>
    </tr>
    <tr>
      <td>Inlet gas diameter, mms</td>
      <td>{{ product.inlet_diameter}}</td>
    </tr>


  </tbody>
</table>
