{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h7 class="text-left ml-5 mb-5"><a href="{% url 'selection' %}">Back to Selection</a></h7>
<h3 class="text-center mt-5 mb-5">Your Order {% if not selection.products.count %} is empty {% endif %}</h3>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
{% if selection.products.count %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Products data</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
  </thead>
  <tbody>
    {% for item in selection.products.all %}
        <tr>
            <th scope="row">{{ item.content_object.name }}</th>
            <td class="w-25"><img src="{{ item.content_object.image.url }}" class="image-fluid"></td>
            <td>${{ item.content_object.price }}</td>
            <td>{{ item.qty }} pc(s).</td>
            <td>${{ item.final_price }}</td>
        </tr>
    {% endfor %}
        <tr colspan="2"></tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td>{{ selection.total_products }} pc(s).</td>
        <td><strong>${{ selection.final_price }}</strong></td>
  </tbody>
</table>
<hr>
<h3 class="text-center mt-5 mb-5">Order form</h3>
<form action="{% url 'makeorder' %}" method="POST">
    {% csrf_token %}
    {{ form| crispy }}
    <input type="submit" class="btn bnt-success btn-block mb-3" value="To make order">
</form>
{% endif %}
{% endblock content %}
